<body>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Category</label>
        <div class="col-sm-4">
            <select class="form-control" id="category">
                <option selected="selected">Choose a category</option>
                <option value="male">Indoor</option>
                <option value="female">Outdoor</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Sub-Category</label>
        <div class="col-sm-4">
            <select multiple="" class="chosen-select form-control" ng-model="class.categories"
                    id="form-field-select-4" data-placeholder="Choose a sub-categories">
                <option ng-repeat="category in categories" value="{{category.id}}" multi-select>{{category.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Image</label>
        <div class="col-sm-4">
            <input type="file" id="id-input-file-3" ng-model="products.image" class="form-control" file-input
                   accept="image/x-png,image/gif,image/jpeg"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Product Name</label>
        <div class="col-sm-4">
            <input type="text" id="s234" ng-model="products.name" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Product SKU</label>
        <div class="col-sm-4">
            <input type="text" id="s2343" ng-model="products.sku" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Unit Price</label>
        <div class="col-sm-4">
            <input type="text" id="1" ng-model="products.unitprice" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Discounted Price</label>
        <div class="col-sm-4">
            <input type="text" id="2" ng-model="products.discounted" class="form-control"/>
        </div>
    </div>
    <div class="form-group">

        <label class="col-sm-3 control-label no-padding-right">Description</label>
        <div class="col-sm-4">
            <textarea id="form-field-11"
                      class="autosize-transition form-control" auto-size></textarea>
        </div>

    </div>
    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="button">
                <i class="ace-icon fa fa-check bigger-110"></i>
                Submit
            </button>
            <button class="btn" ng-click="changeView('back')">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                Cancel
            </button>
        </div>
    </div>
</form>
</body>
