<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">Home</a>
                </li>

                <li>
                    <a href="#">Role</a>
                </li>
                <li class="active">Role</li>
            </ul><!-- /.breadcrumb -->

            <div class="nav-search" id="nav-search">
                <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input"
                                           id="nav-search-input" autocomplete="off"/>
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
                </form>
            </div><!-- /.nav-search -->
        </div>
        <div class="page-content">
            <!--   <div class="page-header">

               </div>&lt;!&ndash; /.page-header &ndash;&gt;-->
            <div class="page-header">
                <h1>
                    Role
                </h1>
            </div><!-- /.page-header -->
            <!--<div class="row">-->
            <!--<div ng-repeat="x in role">{{x.name}}</div>-->
            <!--<h1 ng-click="clickMe()">Click Me</h1>-->
            <!--<h2>{{name}}</h2>-->
            <!--<h2 role-directive name="bobo">{{name}}</h2>-->
            <!--</div>-->
            <div class="row">
                <!--<button ng-click="changename('123')">Cha Click</button>-->
                <div role-directive name="123"></div>
            </div>
        </div>
    </div>
</div>

