<body>
<form class="form-horizontal" role="form" name="userForm">
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">ID</label>
        <div class="col-sm-9">
            <input type="text" id="" class="col-xs-10 col-sm-5" name="userID"
                   ng-model="user.id"
                   disabled/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Username</label>
        <div class="col-sm-9">
            <input type="text" class="col-xs-10 col-sm-5" name="userID"
                   ng-model="user.username"
                   disabled/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Email</label>
        <div class="col-sm-9">
            <input type="email" class="col-xs-10 col-sm-5" name="userID"
                   ng-model="user.email"
                   required/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Fullname</label>
        <div class="col-sm-9">
            <input type="text" class="col-xs-10 col-sm-5" name="userID"
                   ng-model="user.fullname"
                   required/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Address</label>
        <div class="col-sm-9">
            <input type="text" class="col-xs-10 col-sm-5" name="userID"
                   ng-model="user.address"
                   required/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Created At</label>
        <div class="col-sm-9">
            <input type="text" class="col-xs-10 col-sm-5" name="userID"
                   ng-model="user.timespan"
                   required/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Status</label>
        <div class="col-sm-9">
            <select class="col-xs-10 col-sm-5" id="status" ng-model="user.status">
                <option ng-repeat="status in status.select" value="{{status.value}}">{{status.name}}</option>
            </select>
        </div>
    </div>
    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="button">
                <i class="ace-icon fa fa-check bigger-110"></i>
                Submit
            </button>
            <button class="btn btn-sm m-l-5" id="cancel" ng-click="changeView('back')">
                <i class="ace-icon fa fa-close bigger-110"></i>
                Cancel
            </button>
        </div>
    </div>
</form>
</body>