<body>
<form class="form-horizontal" role="form" name="categoryForm">
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">ID</label>
        <div class="col-sm-4">
            <input type="text" id="" class="form-control" name="id"
                   ng-model="collection.id"
                   required/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Collection Name</label>
        <div class="col-sm-4">
            <input type="text" id="1" class="form-control" name="name"
                   ng-model="collection.name"
                   ng-minlength="3" ng-maxlength="20" required/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Cover Image</label>
        <div class="col-sm-4">
            <input type="file" id="id-input-file-3" ng-model="collection.image" class="form-control" file-input
                   accept="image/x-png,image/gif,image/jpeg"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Product</label>
        <div class="col-sm-4">
            <select multiple="" class="chosen-select form-control" ng-model="class.categories"
                    id="form-field-select-4" data-placeholder="Choose a product">
                <option ng-repeat="product in collections" value="{{product.id}}" multi-select>{{product.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">
            Description </label>
        <div class="col-sm-4">
            <textarea class="form-control" ng-model="collection.description"/></textarea>
        </div>
    </div>
    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="button">
                <i class="ace-icon fa fa-check bigger-110"></i>
                Submit
            </button>
            <button class="btn btn-sm m-l-5" id="cancel" ng-click="changeView('back')">
                <i class="ace-icon fa fa-close bigger-110"></i>
                Cancel
            </button>
        </div>
    </div>
</form>
</body>